fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-multipart
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
requests
pydantic
email-validator
jinja2
itsdangerous
starlette
fastapi-sessions
authlib
httpx
aiohttp
pyjwt
